// .tp-title
.tp-title-exa{
  font-size: rem(60); 
  font-weight: 500;
  line-height: rem(96);
}

.tp-title-tera{
  font-size: rem(42);
  font-weight: 500;
  line-height: rem(72);
}

.tp-title-mega{
  font-size: rem(30);
  font-weight: 500;
  line-height: rem(48);
}

.tp-title-kilo{
  font-size: rem(22);
  font-weight: 500; 
  line-height: rem(40);
}

.tp-title-hecto{
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(32);
}

.tp-title-deca{
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(32);
}

.tp-title-deci{
  font-size: rem(14);
  font-weight: 500; 
  line-height: rem(24);
}

.tp-title-centi{
  font-size: rem(12);
  font-weight: 500;
  line-height: rem(24);
}

// .tp-subtitle
.tp-subtitle-mega{
  font-size: rem(30);
  font-weight: 400;
  line-height: rem(48);
}

.tp-subtitle-kilo{
  font-size: rem(22);
  font-weight: 400;
  line-height: rem(40);
}

.tp-subtitle-hecto{
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(32);
}

.tp-subtitle-deci{
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
}

.tp-subtitle-mili{
  font-size: rem(11);
  font-weight: 400;
  line-height: rem(16);
}

// .tp-body
.tp-body-deci{
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
}

.tp-body-centi{
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(24);
}

.tp-body-mili{
  font-size: rem(11);
  font-weight: 400;
  line-height: rem(16);
}

// .tp-value
.tp-value-exa{
  font-size: rem(60);
  font-weight: 500;
  line-height: rem(96);
}

.tp-value-tera{
  font-size: rem(42);
  font-weight: 500;
  line-height: rem(72);
}

.tp-value-giga{
  font-size: rem(36);
  font-weight: 500;
  line-height: rem(56);
}

.tp-value-mega{
  font-size: rem(30);
  font-weight: 500;
  line-height: rem(48);
}

.tp-value-hecto{
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(32);
}

.tp-title-deca{
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(32);
}

.tp-value-deci{
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24);
}

.tp-value-centi{
  font-size: rem(12);
  font-weight: 500;
  line-height: rem(24);
}

// Extra
.tp—tab-micro{
  font-size: rem(10);
  font-weight: 500;
  line-height: rem(20);
  transform: uppercase;
}

.tp—button-micro{
  font-size: rem(10);
  font-weight: 500;
  line-height: rem(16);
  transform: uppercase;
}

.tp—label-nano{
  font-size: rem(9);
  font-weight: 500; 
  line-height: rem(16);
  transform: uppercase;
}

.tp—sectionbox-nano{
  font-size: rem(9);
  font-weight: 400;
  line-height: rem(20);
  transform: uppercase;
}
